<h1>Task</h1>
<p><%=  @task.title%></p>
<p><%=  @task.details%></p>
<p><%=  @task.completed%></p>
<p><%=link_to "delete", task_path(@task),  class: 'btn btn-danger', data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } %></p>
<p><%= link_to "Back", tasks_path, class: 'btn btn-primary' %></p>